meta(property="og:url" content="#{home}#{path}")
meta(property="og:description" content="#{description}")
meta(property="og:image" content="#{home}images/thumbnails/#{sized(thumbnail, 'facebook')}")
meta(property="twitter:card" content="summary")
meta(property="twitter:description" content="#{description}")
meta(property="twitter:title" content="#{title} – Charlotte Dann")
meta(property="twitter:site" content="@charlotte_dann")
meta(property="twitter:image" content="#{home}images/thumbnails/#{sized(thumbnail, 'twitter')}")
