extend default

block content
  .project
    .project__meta
      h4.project__return
        a(href="/") back to charlottedann.com
      h1.project__title= title
      p.project__description= description
      p.project__materials= materials
      - year = date.toString().split(' ')[3]
      p.project__date= year
    .project__media
      | !{contents}
